<div class="col-md-2 col-sm-4 col-xs-12 history-outer">
            <div class="year">
              <h4>{{ content.field_year.0 }}</h4>
            </div>
            <p>{{content.field_description.0 }}</p>
          </div>