 <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{{ content.field_feature_image.0 }}" alt="features items" class="img-responsive">
            <p>{{ content.field_feature_caption.0 }}</p>
          </div>
