<div class="col-md-3 col-sm-6 col-xs-12 docters-lists">
            <div class="docters-list">
              <img src="{{ fields.field_docters_image.content}}" alt="docters img" class="img-responsive">
              <div class="doctors-info">
                <h6>{{ fields.field_doctors_name.content}}</h6>
                <p>{{ fields.field_doctors_designation.content}}</p>
              </div>
            </div>  
          </div>