

                    
          <div class="col-md-2 col-sm-2 col-xs-12 department-list">
            <div class="departments-list">
              <img src="{{ fields.field_department_image.content }}" alt="departments list img" class="img-responsive">
              <div class="department-caption">
                <p>{{ fields.field_department_name.content }}</p>
              </div>
            </div>
          </div>

        
      