
              <div class="row">
                <div class="col-md-3 latest-news-imgs">
                  <img src="{{ fields.field_latest_news_image.content}}" alt="latest news img" class="img-responsive">
                </div>
                <div class="col-md-9 latest-news-description">
                  <p>{{ fields.field_detailed_news.content}}</p>
                </div>
              </div>

         

